.order{
  margin: 0;
  padding: 90px 0;
  background-color: var(--accent-color);

  .container-wrapper{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
  }

  &__text{
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  &__text-title{
    width: 360px;
    height: 94px;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: var(--light-color);
  }
  &__text-subtitle{
    width: 420px;
    height: 94px;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--light-color);
  }

  &__form{
    width: 500px;
    height: 286px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

      input{
        height: 64px;
        padding: 19px 181px 19px 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: var(--text-color);
      }
    }

    &__form-btn{
      padding: 10px 0;
      text-align: center;
      width: 500px;
      height: 64px;
      background: var(--dark-color);
      border-radius: 5px;
      border: none;
      outline: none;
      color: var(--light-color);
      cursor: pointer;
    }
}
