<section class="hero">
  <div class="container">
    <div class="hero__row">
      <div class="hero__row-text">
        <h1 class="hero__row-text-title">
          ROBO SCHOOL
        </h1>
        <p class="hero__row-tex-description">
          Курсы повышения квалификации по робототехнике для педагогов начальной школы
        </p>
       <a href="#tarifs" class="hero__text-link btn" data-scroll>Записаться на курс</a>
      </div>
      <div class="hero__row-img">
        <picture>
          <source srcset="../img/hero.png" type="image/avif">
          <source srcset="../img/hero.png" type="image/webp">
          <img loading="lazy" src="../img/hero.png" class="image" width="783px" height="817px" alt="hero">
        </picture>
      </div>
    </div>
  </div>
</section>
