<section class="order" id="order">
  <div class="container">
    <div class="container-wrapper">
      <div class="order__text">
        <div class="order__text-title">Запишитесь на курс со скидкой 10%</div>
        <div class="order__text-subtitle">Акция действительна до 10 марта 2022 года</div>
      </div>
      <div class="order__form">
        <input type="text" class="order__form-name" name="name" placeholder="Имя">
        <input type="tel" class="order__form-tel" name="telephone" placeholder="Телефон">
        <input type="email" class="order__form-email" name="email" placeholder="E-mail">
        <button class="order__form-btn">Отправить заявку</button>
      </div>
    </div>
  </div>
</section>
