<section class="order" id="order">
  <div class="container">
    <div class="container-wrapper">
      <div class="order__text">
        <div class="order__text-title">Запишитесь на курс со скидкой 10%</div>
        <div class="order__text-subtitle">Акция действительна до 10 марта 2022 года</div>
      </div>
      <div class="form order__form">
        <input class="input-reset order__form-name input-name" type="text" name="name" placeholder="Имя">
        <input class="input-reset order__form-tel input-tel" type="tel" name="telephone" placeholder="Телефон">
        <input class="input-reset order__form-email input-email" type="email" name="email" placeholder="E-mail">
        <button class="order__form-btn">Отправить заявку</button>
      </div>
    </div>
  </div>
</section>
