<section class="tarifs" id="tarifs">
  <div class="container">
    <h2 class="section-title">Выберите нужный пакет</h2>
    <ul class="tarifs__list">
      <li class="tarifs__item">
        <div class="tarifs__item-title">– PRO –</div>
        <div class="tarifs__item-price">20.000 ₽</div>
        <div class="tarifs__item-post">УМК по робототетхнике и программированию </div>
        <button class="reset-btn tarifs__item-btn">Оставить заявку</button>
      </li>
      <li class="tarifs__item">
        <div class="tarifs__item-title">– ROBO –</div>
        <div class="tarifs__item-price">15.000 ₽</div>
        <div class="tarifs__item-post">УМК по робототетхнике  </div>
        <button class="reset-btn tarifs__item-btn">Оставить заявку</button>
      </li>
      <li class="tarifs__item">
        <div class="tarifs__item-title">– PROG –</div>
        <div class="tarifs__item-price">10.000 ₽</div>
        <div class="tarifs__item-post">УМК по программированию</div>
        <button class="tarifs__item-btn">Оставить заявку</button>
      </li>
    </ul>
  </div>
</section>
