<section class="trainer " id="traners">
  <div class="container">
    <h2 class="section-title">
      Профессиональные тренеры
    </h2>
  </div>
<div class="trainer__wrapper">
  <div class="swiper trainer__content">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="trainers__item">
          <picture>
            <source srcset="img/trainer-1.avif" type="image/avif">
            <source srcset="img/trainer-1.webp" type="image/webp">
            <img loading="lazy" src="img/trainer-1.jpg" class="trainer__image" width="360px" height="500px" alt="Лиза Лайм">
          </picture>
        </div>
        <div class="trainer__name">Лиза Лайм</div>
        <div class="trainer__post">преподаватель по робототехнике</div>
        <button class="btn-reset trainer__modal" data-graph-path="trainer-1">Подробнее</button>
      </div>

      <div class="swiper-slide">
        <div class="trainers__item">
          <picture>
            <source srcset="img/trainer-2.avif" type="image/avif">
            <source srcset="img/trainer-2.webp" type="image/webp">
            <img loading="lazy" src="img/trainer-2.jpg" class="trainer__image" width="360px" height="500px" alt="Марина Орлова">
          </picture>
        </div>
        <div class="trainer__name">Марина Орлова</div>
        <div class="trainer__post">преподаватель по робототехнике</div>
        <button class="btn-reset trainer__modal" data-graph-path="trainer-1">Подробнее</button>
      </div>

      <div class="swiper-slide">
        <div class="trainers__item">
          <picture>
            <source srcset="img/trainer-3.avif" type="image/avif">
            <source srcset="img/trainer-3.webp" type="image/webp">
            <img loading="lazy" src="img/trainer-3.jpg" class="trainer__image" width="360px" height="500px" alt="Максим Петров">
          </picture>
        </div>
        <div class="trainer__name">Максим Петров</div>
        <div class="trainer__post">преподаватель по программированию</div>
        <button class="btn-reset trainer__modal" data-graph-path="trainer-1">Подробнее</button>
      </div>

      <div class="swiper-slide">
        <div class="trainers__item">
          <picture>
            <source srcset="img/trainer-4.avif" type="image/avif">
            <source srcset="img/trainer-4.webp" type="image/webp">
            <img loading="lazy" src="img/trainer-4.jpg" class="trainer__image" width="360px" height="500px" alt="Константин Назаров">
          </picture>
        </div>
        <div class="trainer__name">Константин Назаров</div>
        <div class="trainer__post">преподаватель по робототехнике</div>
        <button class="btn-reset trainer__modal" data-graph-path="trainer-1">Подробнее</button>
      </div>

      <div class="swiper-slide">
        <div class="trainers__item">
          <picture>
            <source srcset="img/trainer-5.avif" type="image/avif">
            <source srcset="img/trainer-5.webp" type="image/webp">
            <img loading="lazy" src="img/trainer-5.jpg" class="trainer__image" width="360px" height="500px" alt="Лиза Весенняя">
          </picture>
        </div>
        <div class="trainer__name">Лиза Весенняя</div>
        <div class="trainer__post">преподаватель по программированию</div>
        <button class="btn-reset trainer__modal" data-graph-path="trainer-1">Подробнее</button>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <div class="trainer__nav">
    <div class="swiper-scrollbar trainer__scroll"></div>
    <div class="trainer__btns">
      <button class="btn-reset trainer__slider-btn trainer__slider-btn--prev" aria-label="Перейти к предыдущему слайду"></button>
      <button class="btn-reset trainer__slider-btn trainer__slider-btn--next"
      aria-label="Перейти к следующему слайду"></button>
    </div>
  </div>
</div>
</section>
