// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family:"Jost",sans-serif;
  --content-width:1160px;
  --content-fluid-width:1790px;
  --container-offset:15px;
  --container-width:1190px;
  --container-fluid-width:1850px;

  // colors

  --light-color:#fff;
  --accent-color:#d52027;
  --dark-color:#141824;
  --text-color:rgba(#141824,0.7);
}
